[user]
	email = cabrera57juanjo@gmail.com
	name = Juan Cabrera
[init]
	defaultBranch = main
[color]
	diff = true
	ui = true
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = restore --staged

[includeIf "gitdir:~/cencosud"]
    [user]
		email = juan.terra@cencosud.com.uy
    [core]
        sshCommand = "ssh -i ~/.ssh/work_ed25519"

