[user]
	email = cabrera57juanjo@gmail.com
	name = Juan Cabrera
[init]
	defaultBranch = main
[color]
	diff = true
	ui = true
[core]
	editor = vim
[alias]
	co = checkout
	br = branch
	ci = commit
	st = status
	unstage = restore --staged
[diff]
    tool = kitty
    guitool = kitty.gui
[difftool]
    prompt = false
    trustExitCode = true
[difftool "kitty"]
    cmd = kitten diff $LOCAL $REMOTE
[difftool "kitty.gui"]
    cmd = kitten diff $LOCAL $REMOTE

[includeIf "gitdir:~/cencosud/"]
    path = ~/.gitconfig-cencosud

[includeIf "gitdir:~/personal/"]
    path = ~/.gitconfig-personal

[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.gitconfig-personal
